Django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
python-dotenv
django-cors-headers
django-filter
django-redis
Pillow
itsdangerous
reportlab
twilio
psycopg2-binary
django-ckeditor

--index-url https://phonepe.mycloudrepo.io/public/repositories/phonepe-pg-sdk-python
--extra-index-url https://pypi.org/simple
phonepe_sdk